@import "tailwindcss";

@theme {
  --animate-slide-up: slide-up 0.25s cubic-bezier(0.16, 1, 0.3, 1);

  @keyframes slide-up {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
  }
}

/* 隱藏滾動條且保持滾動功能 */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
